### #1.importing yahoo finance as yf
helps to visualize stock data

In [1]:
import yfinance as yf
import pandas as pd

### #2.taking stock as a variable

In [2]:
tick = "NVDA"

### #3.downloading information for the stock price over nvidia
perameter is set to max by default we can change it by head and tail function

In [3]:
yf.download(tick)

[*********************100%%**********************]  1 of 1 completed

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
1999-01-22,0.437500,0.488281,0.388021,0.410156,0.376255,271468800
1999-01-25,0.442708,0.458333,0.410156,0.453125,0.415672,51048000
1999-01-26,0.458333,0.467448,0.411458,0.417969,0.383422,34320000
1999-01-27,0.419271,0.429688,0.395833,0.416667,0.382228,24436800
1999-01-28,0.416667,0.419271,0.412760,0.415365,0.381033,22752000
...,...,...,...,...,...,...
2024-01-02,492.440002,492.950012,475.950012,481.679993,481.679993,41125400
2024-01-03,474.850006,481.839996,473.200012,475.690002,475.690002,32089600
2024-01-04,477.670013,485.000000,475.079987,479.980011,479.980011,30653500
2024-01-05,484.619995,495.470001,483.059998,490.970001,490.970001,41456800
2024-01-08,495.119995,522.750000,494.790009,522.530029,522.530029,63850400

##### #4.saving above information in to a variable

In [4]:
nvda = yf.download(tick)

[*********************100%%**********************]  1 of 1 completed

In [5]:
#with the help of head function we get top 5 rows of data
nvda.head()

                Open      High       Low     Close  Adj Close     Volume
Date
1999-01-22  0.437500  0.488281  0.388021  0.410156   0.376255  271468800
1999-01-25  0.442708  0.458333  0.410156  0.453125   0.415672   51048000
1999-01-26  0.458333  0.467448  0.411458  0.417969   0.383422   34320000
1999-01-27  0.419271  0.429688  0.395833  0.416667   0.382227   24436800
1999-01-28  0.416667  0.419271  0.412760  0.415365   0.381033   22752000

In [6]:
#with the help of tail function we get last 5 rows of data
nvda.tail()

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2024-01-02,492.440002,492.950012,475.950012,481.679993,481.679993,41125400
2024-01-03,474.850006,481.839996,473.200012,475.690002,475.690002,32089600
2024-01-04,477.670013,485.000000,475.079987,479.980011,479.980011,30653500
2024-01-05,484.619995,495.470001,483.059998,490.970001,490.970001,41456800
2024-01-08,495.119995,522.750000,494.790009,522.530029,522.530029,63850400

### #5.Checking the type of data
*this data is saved into our current enviroment

In [7]:
type(nvda)

pandas.core.frame.DataFrame

### #6.Placing more arguments
+ defining more arguments into this same function which is download function for the library yfinance.
+ adding a start date and end date so we can filter out the information.
+ we can be more specific by simply altering the data suppose we are only intrested in the **Adj Close** checkout ***34***.

In [8]:
nvda = yf.download(tick, start="2020-01-01", end="2020-04-26")

[*********************100%%**********************]  1 of 1 completed

In [9]:
nvda

                 Open       High        Low      Close  Adj Close    Volume
Date
2020-01-02  59.687500  59.977501  59.180000  59.977501  59.744045  23753600
2020-01-03  58.775002  59.457500  58.525002  59.017502  58.787777  20538400
2020-01-06  58.080002  59.317501  57.817501  59.264999  59.034313  26263600
2020-01-07  59.549999  60.442501  59.097500  59.982498  59.749027  31485600
2020-01-08  59.939999  60.509998  59.537498  60.095001  59.861084  27710800
...               ...        ...        ...        ...        ...       ...
2020-04-20  71.809998  73.375000  71.317497  71.762497  71.525925  44938800
2020-04-21  70.577499  71.192497  66.777496  67.377502  67.155373  73516000
2020-04-22  69.307503  71.967499  68.849998  71.537498  71.301659  48335600
2020-04-23  71.959999  73.285004  70.750000  71.002502  70.768425  42416000
2020-04-24  70.900002  72.417503  70.150002  72.397499  72.158829  35232800

[79 rows x 6 columns]

In [10]:
yf.download(tick, start="2020-01-01", end="2020-04-26")["Adj Close"]

[*********************100%%**********************]  1 of 1 completed

Date
2020-01-02    59.744045
2020-01-03    58.787777
2020-01-06    59.034313
2020-01-07    59.749027
2020-01-08    59.861084
                ...
2020-04-20    71.525925
2020-04-21    67.155373
2020-04-22    71.301659
2020-04-23    70.768425
2020-04-24    72.158829
Name: Adj Close, Length: 79, dtype: float64

Above procedure to download only one stock

### #7.working with multiple stocks
+ We can download several stocks at the same time.
+ Create a list[] of stocks you want to work with.
+ Add the ticker symbols of the stock you want to get the information.
+ call the libary and variable add parameters if needed

In [11]:
ticks = ["F","AAPL","AMZN","NFLX","GOOG"]

#### Notice: 
+ That first dimention is showing us the adj close(price) of all companies then closing price
+ Then the tickers we can simply chnage that by grouping(group_by)

In [12]:
yf.download(ticks, start="2020-01-01", end="2020-04-26")

[*********************100%%**********************]  5 of 5 completed

            Adj Close                                                   Close  \
                 AAPL        AMZN         F       GOOG        NFLX       AAPL
Date
2020-01-02  73.152657   94.900497  8.077005  68.368500  329.809998  75.087502
2020-01-03  72.441444   93.748497  7.896944  68.032997  325.899994  74.357498
2020-01-06  73.018677   95.143997  7.854074  69.710503  335.829987  74.949997
2020-01-07  72.675285   95.343002  7.931242  69.667000  330.750000  74.597504
2020-01-08  73.844345   94.598503  7.931242  70.216003  339.260010  75.797501
...               ...         ...       ...        ...         ...        ...
2020-04-20  67.608597  119.680496  4.342628  63.330502  437.489990  69.232498
2020-04-21  65.518791  116.405998  4.159505  60.817001  433.829987  67.092499
2020-04-22  67.405968  118.174500  4.159505  63.160500  421.420013  69.025002
2020-04-23  67.144737  119.972504  4.264146  63.815498  426.700012  68.757500
2020-04-24  69.083183  120.511002  4.246706  63.965500  424.989990  70.742500

                                                     ...       Open  \
                  AMZN     F       GOOG        NFLX  ...       AAPL
Date                                                 ...
2020-01-02   94.900497  9.42  68.368500  329.809998  ...  74.059998
2020-01-03   93.748497  9.21  68.032997  325.899994  ...  74.287498
2020-01-06   95.143997  9.16  69.710503  335.829987  ...  73.447502
2020-01-07   95.343002  9.25  69.667000  330.750000  ...  74.959999
2020-01-08   94.598503  9.25  70.216003  339.260010  ...  74.290001
...                ...   ...        ...         ...  ...        ...
2020-04-20  119.680496  4.98  63.330502  437.489990  ...  69.487503
2020-04-21  116.405998  4.77  60.817001  433.829987  ...  69.070000
2020-04-22  118.174500  4.77  63.160500  421.420013  ...  68.402496
2020-04-23  119.972504  4.89  63.815498  426.700012  ...  68.967499
2020-04-24  120.511002  4.87  63.965500  424.989990  ...  69.300003

                                                        Volume             \
                  AMZN     F       GOOG        NFLX       AAPL       AMZN
Date
2020-01-02   93.750000  9.29  67.077499  326.100006  135480400   80580000
2020-01-03   93.224998  9.31  67.392998  326.779999  146322800   75288000
2020-01-06   93.000000  9.10  67.500000  323.119995  118387200   81236000
2020-01-07   95.224998  9.20  69.897003  336.470001  108872000   80898000
2020-01-08   94.902000  9.23  69.603996  331.489990  132079200   70160000
...                ...   ...        ...         ...        ...        ...
2020-04-20  119.497498  5.01  63.549999  435.170013  130015200  115414000
2020-04-21  120.830498  4.89  62.349998  444.769989  180991600  149534000
2020-04-22  118.449997  4.87  62.277000  429.730011  116862400   84244000
2020-04-23  119.999001  4.80  63.577499  419.260010  124814400  101332000
2020-04-24  120.849998  4.93  63.058498  425.000000  126161200   76498000


                   F      GOOG      NFLX
Date
2020-01-02  43425700  28132000   4485800
2020-01-03  45040800  23728000   3806900
2020-01-06  43372300  34646000   5663100
2020-01-07  44984100  30054000   4703200
2020-01-08  45994900  30560000   7104500
...              ...       ...       ...
2020-04-20  71079400  33910000  12655800
2020-04-21  82400200  43060000  23177600
2020-04-22  62237200  41848000  21084800
2020-04-23  61959800  31324000  13952300
2020-04-24  54320400  32792000   8658900

[79 rows x 30 columns]

In [13]:
#used group_by to get more readable like format
yf.download(ticks, start="2020-01-01", end="2020-04-26",group_by="Ticker")

[*********************100%%**********************]  5 of 5 completed

                  NFLX                                                  \
                  Open        High         Low       Close   Adj Close
Date
2020-01-02  326.100006  329.980011  324.779999  329.809998  329.809998
2020-01-03  326.779999  329.859985  325.529999  325.899994  325.899994
2020-01-06  323.119995  336.359985  321.200012  335.829987  335.829987
2020-01-07  336.470001  336.700012  330.299988  330.750000  330.750000
2020-01-08  331.489990  342.700012  331.049988  339.260010  339.260010
...                ...         ...         ...         ...         ...
2020-04-20  435.170013  444.489990  430.559998  437.489990  437.489990
2020-04-21  444.769989  447.000000  425.600006  433.829987  433.829987
2020-04-22  429.730011  433.000000  413.000000  421.420013  421.420013
2020-04-23  419.260010  438.410004  419.260010  426.700012  426.700012
2020-04-24  425.000000  427.170013  415.880005  424.989990  424.989990

                           AAPL                                   ...     F  \
              Volume       Open       High        Low      Close  ...   Low
Date                                                              ...
2020-01-02   4485800  74.059998  75.150002  73.797501  75.087502  ...  9.19
2020-01-03   3806900  74.287498  75.144997  74.125000  74.357498  ...  9.15
2020-01-06   5663100  73.447502  74.989998  73.187500  74.949997  ...  9.06
2020-01-07   4703200  74.959999  75.224998  74.370003  74.597504  ...  9.12
2020-01-08   7104500  74.290001  76.110001  74.290001  75.797501  ...  9.17
...              ...        ...        ...        ...        ...  ...   ...
2020-04-20  12655800  69.487503  70.419998  69.212502  69.232498  ...  4.91
2020-04-21  23177600  69.070000  69.312500  66.357498  67.092499  ...  4.72
2020-04-22  21084800  68.402496  69.474998  68.050003  69.025002  ...  4.75
2020-04-23  13952300  68.967499  70.437500  68.717499  68.757500  ...  4.77
2020-04-24   8658900  69.300003  70.752502  69.250000  70.742500  ...  4.80

                                           GOOG                        \
           Close Adj Close    Volume       Open       High        Low
Date
2020-01-02  9.42  8.077005  43425700  67.077499  68.406998  67.077499
2020-01-03  9.21  7.896944  45040800  67.392998  68.625000  67.277199
2020-01-06  9.16  7.854074  43372300  67.500000  69.824997  67.500000
2020-01-07  9.25  7.931242  44984100  69.897003  70.149498  69.518997
2020-01-08  9.25  7.931242  45994900  69.603996  70.579002  69.542000
...          ...       ...       ...        ...        ...        ...
2020-04-20  4.98  4.342628  71079400  63.549999  64.080002  63.068501
2020-04-21  4.77  4.159505  82400200  62.349998  62.713501  60.485500
2020-04-22  4.77  4.159505  62237200  62.277000  64.280647  62.099998
2020-04-23  4.89  4.264146  61959800  63.577499  64.665497  63.283501
2020-04-24  4.87  4.246706  54320400  63.058498  64.019997  62.472500


                Close  Adj Close    Volume
Date
2020-01-02  68.368500  68.368500  28132000
2020-01-03  68.032997  68.032997  23728000
2020-01-06  69.710503  69.710503  34646000
2020-01-07  69.667000  69.667000  30054000
2020-01-08  70.216003  70.216003  30560000
...               ...        ...       ...
2020-04-20  63.330502  63.330502  33910000
2020-04-21  60.817001  60.817001  43060000
2020-04-22  63.160500  63.160500  41848000
2020-04-23  63.815498  63.815498  31324000
2020-04-24  63.965500  63.965500  32792000

[79 rows x 30 columns]

### #8.Alteing the multi ticker columns

In [14]:
yf.download(ticks, start="2020-01-01", end="2020-04-26")["Adj Close"]

[*********************100%%**********************]  5 of 5 completed

                 AAPL        AMZN         F       GOOG        NFLX
Date
2020-01-02  73.152657   94.900497  8.077005  68.368500  329.809998
2020-01-03  72.441444   93.748497  7.896944  68.032997  325.899994
2020-01-06  73.018677   95.143997  7.854074  69.710503  335.829987
2020-01-07  72.675285   95.343002  7.931242  69.667000  330.750000
2020-01-08  73.844345   94.598503  7.931242  70.216003  339.260010
...               ...         ...       ...        ...         ...
2020-04-20  67.608597  119.680496  4.342628  63.330502  437.489990
2020-04-21  65.518791  116.405998  4.159505  60.817001  433.829987
2020-04-22  67.405968  118.174500  4.159505  63.160500  421.420013
2020-04-23  67.144737  119.972504  4.264146  63.815498  426.700012
2020-04-24  69.083183  120.511002  4.246706  63.965500  424.989990

[79 rows x 5 columns]

#### 8.1.Rounding method 
+ Make the data easy to visualize by rounding the numbers after the decimal point

In [16]:
yf.download(ticks, start="2020-01-01", end="2020-04-26", rounding = True)["Adj Close"]

[*********************100%%**********************]  5 of 5 completed

             AAPL    AMZN     F   GOOG    NFLX
Date
2020-01-02  73.15   94.90  8.08  68.37  329.81
2020-01-03  72.44   93.75  7.90  68.03  325.90
2020-01-06  73.02   95.14  7.85  69.71  335.83
2020-01-07  72.68   95.34  7.93  69.67  330.75
2020-01-08  73.84   94.60  7.93  70.22  339.26
...           ...     ...   ...    ...     ...
2020-04-20  67.61  119.68  4.34  63.33  437.49
2020-04-21  65.52  116.41  4.16  60.82  433.83
2020-04-22  67.41  118.17  4.16  63.16  421.42
2020-04-23  67.14  119.97  4.26  63.82  426.70
2020-04-24  69.08  120.51  4.25  63.97  424.99

[79 rows x 5 columns]

#### 8.2.Altering the list of tickers
+ By simply adding square brackets.
+ Type the ticker you intrested in.
+ It will return us with a series

In [17]:
yf.download(ticks, start="2020-01-01", end="2020-04-26", rounding = True)["Adj Close"] ["GOOG"]

[*********************100%%**********************]  5 of 5 completed

Date
2020-01-02    68.37
2020-01-03    68.03
2020-01-06    69.71
2020-01-07    69.67
2020-01-08    70.22
              ...
2020-04-20    63.33
2020-04-21    60.82
2020-04-22    63.16
2020-04-23    63.82
2020-04-24    63.97
Name: GOOG, Length: 79, dtype: float64

#### 8.3.Checking the type
+ if we check the type of these 5 stocks this will return us with the Dataframe pandas
+ If we alter it by one ticker like google then it will return us with series

In [18]:
type(yf.download(ticks, start="2020-01-01", end="2020-04-26", rounding = True)["Adj Close"])

[*********************100%%**********************]  5 of 5 completed

pandas.core.frame.DataFrame

In [19]:
type(yf.download(ticks, start="2020-01-01", end="2020-04-26", rounding = True)["Adj Close"] ["GOOG"])

[*********************100%%**********************]  5 of 5 completed

pandas.core.series.Series